<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="cobot_hw" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:macro name="joint_iface" params="name">
      <joint name="${name}">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </xacro:macro>
    <xacro:joint_iface name="joint_1_joint"/>
    <xacro:joint_iface name="joint_2_joint"/>
    <xacro:joint_iface name="joint_3_joint"/>
    <xacro:joint_iface name="joint_4_joint"/>
    <xacro:joint_iface name="joint_5_joint"/>
    <xacro:joint_iface name="joint_6_joint"/>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find cobot_bringup)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
